Repository ryana-0154/infra-puppet-control: changes, and which pre-commit hooks are due for each by the changed paths.
All: puppet-lint, puppet-syntax, erb-syntax, yaml-syntax, rubocop, r10k-puppetfile

puppet-lint:
  name: Puppet Lint
  entry: bundle exec puppet-lint
  language: system

puppet-syntax:
  name: Puppet Syntax Check
  entry: bundle exec rake syntax:manifests
  language: system
  pass_filenames: false

erb-syntax:
  name: ERB Syntax Check
  entry: bundle exec rake validate_templates
  language: system
  pass_filenames: false

yaml-syntax:
  name: YAML Syntax Check
  entry: bundle exec rake syntax:hiera
  language: system
  pass_filenames: false

rubocop:
  name: RuboCop
  entry: bundle exec rubocop --fail-level convention
  language: system

r10k-puppetfile:
  name: R10k Puppetfile Check
  entry: bundle exec r10k puppetfile check
  language: system
  pass_filenames: false

Updated NTP
  data/common.yaml
  data/os/Debian.yaml
  data/os/RedHat.yaml
Due: yaml-syntax

Updates
  data/common.yaml
Due: yaml-syntax

Turn off NTP, enable logrotate
  data/common.yaml
  site-modules/profile/manifests/base.pp
Due: puppet-lint, puppet-syntax, yaml-syntax

Add systemd module dependency for logrotate
  .fixtures.yml
  Puppetfile
Due: yaml-syntax, r10k-puppetfile

Fix logrotate manifest to use correct module parameters
  site-modules/profile/manifests/logrotate.pp
  site-modules/profile/spec/classes/logrotate_spec.rb
Due: puppet-lint, puppet-syntax, rubocop

Add deployment simulation to catch catalog compilation errors
  .github/workflows/ci.yml
  CLAUDE.md
  scripts/run-ci-locally.sh
  scripts/simulate-deployment.sh
Due: yaml-syntax

Fix deployment simulation for Puppet 8
  scripts/simulate-deployment.sh
Due: none

Fix node name matching in deployment simulation
  scripts/simulate-deployment.sh
Due: none

Install hiera-eyaml for deployment simulation
  .github/workflows/ci.yml
  scripts/simulate-deployment.sh
Due: yaml-syntax

Add dependency checks to deployment simulation script
  CLAUDE.md
  scripts/simulate-deployment.sh
Due: none

Fix r10k detection to work with bundler
  scripts/simulate-deployment.sh
Due: none

Update workflow to install r10k
  .github/workflows/ci.yml
Due: yaml-syntax

Fix logrotate module dependencies and API compatibility
  .fixtures.yml
  Puppetfile
  scripts/simulate-deployment.sh
  site-modules/profile/manifests/logrotate.pp
  spec/spec_helper.rb
Due: puppet-lint, puppet-syntax, yaml-syntax, rubocop, r10k-puppetfile

Add monitoring directory management for vps.ra-home.co.uk
  data/nodes/vps.ra-home.co.uk.yaml
  manifests/site.pp
  site-modules/profile/manifests/monitoring.pp
  site-modules/profile/spec/classes/monitoring_spec.rb
  site-modules/role/manifests/vps.pp
  site-modules/role/spec/classes/vps_spec.rb
Due: puppet-lint, puppet-syntax, yaml-syntax, rubocop

Updated hiera
  hiera.yaml
Due: yaml-syntax

Refactor to use APL and add templated docker-compose monitoring
  data/common.yaml
  data/examples/monitoring-example.yaml
  data/nodes/vps.ra-home.co.uk.yaml
  site-modules/profile/files/monitoring/README.md
  site-modules/profile/manifests/base.pp
  site-modules/profile/manifests/logrotate.pp
  site-modules/profile/manifests/monitoring.pp
  site-modules/profile/spec/classes/monitoring_docker_compose_spec.rb
  site-modules/profile/templates/monitoring/docker-compose.yaml.erb
Due: puppet-lint, puppet-syntax, erb-syntax, yaml-syntax, rubocop

feat: add Renovate Bot for automated dependency updates
  .github/renovate.json5
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  Puppetfile
  README.md
  docs/renovate.md
  keys/public_key.pkcs7.pem
  renovate.json
Due: yaml-syntax, r10k-puppetfile

fix: address critical issues from code review
  data/nodes/vps.ra-home.co.uk.yaml
  docs/monitoring-deployment.md
  site-modules/profile/manifests/monitoring.pp
  site-modules/profile/templates/monitoring/blackbox.yaml.erb
  site-modules/profile/templates/monitoring/docker-compose.yaml.erb
  site-modules/profile/templates/monitoring/loki-config.yaml.erb
  site-modules/profile/templates/monitoring/prometheus.yaml.erb
  site-modules/profile/templates/monitoring/promtail-config.yaml.erb
Due: puppet-lint, puppet-syntax, erb-syntax, yaml-syntax

Update monitoring dir
  data/nodes/vps.ra-home.co.uk.yaml
Due: yaml-syntax

feat: add comprehensive firewall management with WireGuard support
  data/common.yaml
  data/examples/firewall-example.yaml
  data/nodes/vps.ra-home.co.uk.yaml
  site-modules/profile/manifests/base.pp
  site-modules/profile/manifests/firewall.pp
  site-modules/profile/spec/classes/firewall_spec.rb
Due: puppet-lint, puppet-syntax, yaml-syntax, rubocop

Updates
  data/nodes/vps.ra-home.co.uk.yaml
Due: yaml-syntax

feat: add OpenTelemetry Collector for Claude Code monitoring
  data/examples/otel-example.yaml
  data/nodes/vps.ra-home.co.uk.yaml
  docs/otel-collector.md
  site-modules/profile/manifests/base.pp
  site-modules/profile/manifests/otel_collector.pp
  site-modules/profile/spec/classes/otel_collector_spec.rb
  site-modules/profile/templates/otel/.env.epp
  site-modules/profile/templates/otel/claude-code-costs.json.epp
  site-modules/profile/templates/otel/claude-code-overview.json.epp
  site-modules/profile/templates/otel/docker-compose.yaml.epp
  site-modules/profile/templates/otel/otel-collector-config.yaml.epp
  site-modules/profile/templates/otel/otel-collector.service.epp
Due: puppet-lint, puppet-syntax, yaml-syntax, rubocop

fix: address critical security and code issues from PR #27 review
  data/common.yaml
  data/nodes/vps.ra-home.co.uk.yaml
  site-modules/profile/manifests/firewall.pp
  site-modules/profile/spec/classes/firewall_spec.rb
Due: puppet-lint, puppet-syntax, yaml-syntax, rubocop

fix: firewall configuration for proper DNS resolution through WireGuard VPN
  site-modules/profile/manifests/firewall.pp
Due: puppet-lint, puppet-syntax

Updates
  data/common.yaml
  data/nodes/vps.ra-home.co.uk.yaml
Due: yaml-syntax

Add fail2ban intrusion prevention profile
  Puppetfile
  data/common.yaml
  data/examples/fail2ban-example.yaml
  site-modules/profile/manifests/base.pp
  site-modules/profile/manifests/fail2ban.pp
  site-modules/profile/metadata.json
  site-modules/profile/spec/classes/base_spec.rb
  site-modules/profile/spec/classes/fail2ban_spec.rb
Due: puppet-lint, puppet-syntax, yaml-syntax, rubocop, r10k-puppetfile

Enhance Loki logging setup with comprehensive log collection
  data/examples/monitoring-example.yaml
  site-modules/profile/files/monitoring/README.md
  site-modules/profile/manifests/monitoring.pp
  site-modules/profile/templates/monitoring/loki-config.yaml.erb
  site-modules/profile/templates/monitoring/promtail-config.yaml.erb
  site-modules/profile/templates/monitoring/provisioning/datasources/loki.yaml.erb
Due: puppet-lint, puppet-syntax, erb-syntax, yaml-syntax

Add comprehensive Grafana dashboard for Loki log visualization
  site-modules/profile/files/monitoring/README.md
  site-modules/profile/manifests/monitoring.pp
  site-modules/profile/templates/monitoring/provisioning/dashboards/dashboard-provider.yaml.erb
  site-modules/profile/templates/monitoring/provisioning/dashboards/loki-logs-overview.json.erb
Due: puppet-lint, puppet-syntax, erb-syntax

Add Authelia SSO for unified authentication across monitoring services
  data/examples/monitoring-example.yaml
  docs/sso-authelia-setup.md
  site-modules/profile/manifests/monitoring.pp
  site-modules/profile/templates/monitoring/authelia-config.yaml.erb
  site-modules/profile/templates/monitoring/authelia-users.yaml.erb
  site-modules/profile/templates/monitoring/docker-compose.yaml.erb
  site-modules/profile/templates/monitoring/nginx.conf.erb
Due: puppet-lint, puppet-syntax, erb-syntax, yaml-syntax

Address PR#35 review comments - improve Loki configuration and add tests
  site-modules/profile/spec/classes/monitoring_spec.rb
  site-modules/profile/templates/monitoring/loki-config.yaml.erb
  site-modules/profile/templates/monitoring/promtail-config.yaml.erb
  site-modules/profile/templates/monitoring/provisioning/datasources/loki.yaml.erb
Due: erb-syntax, rubocop

Address PR#36 review comments - add tests, validation, and enhanced documentation
  docs/sso-authelia-setup.md
  site-modules/profile/manifests/monitoring.pp
  site-modules/profile/spec/classes/monitoring_spec.rb
  site-modules/profile/templates/monitoring/authelia-users.yaml.erb
Due: puppet-lint, puppet-syntax, erb-syntax, rubocop

Updated VPS
  data/nodes/vps.ra-home.co.uk.yaml
Due: yaml-syntax

Add PiHole automatic provisioning from Teleporter backup
  .gitignore
  data/examples/pihole-example.yaml
  docs/pihole-provisioning.md
  scripts/update-pihole-from-backup.sh
  site-modules/profile/files/pihole/custom_hosts
  site-modules/profile/files/pihole/gravity.db
  site-modules/profile/manifests/pihole.pp
  site-modules/profile/spec/classes/pihole_spec.rb
  site-modules/profile/templates/pihole/pihole.toml.erb
Due: puppet-lint, puppet-syntax, erb-syntax, yaml-syntax, rubocop

Fix simulate deployment: set manage_pihole default to false
  data/examples/pihole-example.yaml
  docs/pihole-provisioning.md
  site-modules/profile/manifests/pihole.pp
Due: puppet-lint, puppet-syntax, yaml-syntax

Address PR#38 review comments - fix operational and security issues
  data/examples/pihole-example.yaml
  docs/pihole-provisioning.md
  scripts/update-pihole-from-backup.sh
  site-modules/profile/manifests/pihole.pp
  site-modules/profile/spec/classes/pihole_spec.rb
Due: puppet-lint, puppet-syntax, yaml-syntax, rubocop

Replace systemd with docker-compose exec for container management
  data/nodes/vps.ra-home.co.uk.yaml
  site-modules/profile/manifests/monitoring.pp
  site-modules/profile/manifests/otel_collector.pp
  site-modules/profile/spec/classes/monitoring_spec.rb
  site-modules/profile/spec/classes/otel_collector_spec.rb
  site-modules/profile/templates/otel/otel-collector.service.epp
Due: puppet-lint, puppet-syntax, yaml-syntax, rubocop

Address PR#42 review comments - improve config subscriptions and Docker checks
  site-modules/profile/manifests/monitoring.pp
  site-modules/profile/manifests/otel_collector.pp
Due: puppet-lint, puppet-syntax

Fix docker-compose command compatibility for v1 and v2
  site-modules/profile/manifests/monitoring.pp
  site-modules/profile/manifests/otel_collector.pp
  site-modules/profile/spec/classes/monitoring_spec.rb
  site-modules/profile/spec/classes/otel_collector_spec.rb
Due: puppet-lint, puppet-syntax, rubocop

Manage docker-compose-plugin installation via Puppet
  site-modules/profile/manifests/monitoring.pp
  site-modules/profile/manifests/otel_collector.pp
  site-modules/profile/spec/classes/monitoring_spec.rb
  site-modules/profile/spec/classes/otel_collector_spec.rb
Due: puppet-lint, puppet-syntax, rubocop

Add dotfiles deployment profile
  Puppetfile
  data/examples/dotfiles-example.yaml
  site-modules/profile/manifests/dotfiles.pp
  site-modules/profile/spec/classes/dotfiles_spec.rb
Due: puppet-lint, puppet-syntax, yaml-syntax, rubocop, r10k-puppetfile

Path conditions:
  puppet-lint: any of: \.pp$, but not: ^(modules/|vendor/|spec/fixtures/)
  puppet-syntax: any of: \.pp$
  erb-syntax: any of: \.erb$
  yaml-syntax: any of: \.ya?ml$, but not: ^\.pre-commit-config\.yaml$
  rubocop: any of: \.(rb|rake)$, but not: ^(modules/|vendor/|spec/fixtures/)
  r10k-puppetfile: any of: ^Puppetfile$
