Repository ryana-0154/infra-puppet-control: changes, and which pre-commit hooks are due for each by the changed paths.
All: puppet-lint, puppet-syntax, erb-syntax, yaml-syntax, rubocop, r10k-puppetfile

.pre-commit-config.yaml:

---
# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^(data/|hieradata/)
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key

  - repo: local
    hooks:
      - id: puppet-lint
        name: Puppet Lint
        entry: bundle exec puppet-lint
        language: system
        files: \.pp$
        exclude: ^(modules/|vendor/|spec/fixtures/)

      - id: puppet-syntax
        name: Puppet Syntax Check
        entry: bundle exec rake syntax:manifests
        language: system
        files: \.pp$
        pass_filenames: false

      - id: erb-syntax
        name: ERB Syntax Check
        entry: bundle exec rake validate_templates
        language: system
        files: \.erb$
        pass_filenames: false

      - id: yaml-syntax
        name: YAML Syntax Check
        entry: bundle exec rake syntax:hiera
        language: system
        files: \.ya?ml$
        pass_filenames: false
        exclude: ^\.pre-commit-config\.yaml$

      - id: rubocop
        name: RuboCop
        entry: bundle exec rubocop --fail-level convention
        language: system
        files: \.(rb|rake)$
        exclude: ^(modules/|vendor/|spec/fixtures/)

      - id: r10k-puppetfile
        name: R10k Puppetfile Check
        entry: bundle exec r10k puppetfile check
        language: system
        files: ^Puppetfile$
        pass_filenames: false

Add external Grafana dashboard repository provisioning
  data/examples/grafana-external-dashboards-example.yaml
  site-modules/profile/manifests/monitoring.pp
  site-modules/profile/spec/classes/monitoring_spec.rb
  site-modules/profile/templates/monitoring/docker-compose.yaml.erb
  site-modules/profile/templates/monitoring/provisioning/dashboards/dashboard-provider.yaml.epp
Due: puppet-lint, puppet-syntax, erb-syntax, yaml-syntax, rubocop

Fix git package resource contention
  site-modules/profile/manifests/monitoring.pp
  site-modules/profile/spec/classes/monitoring_spec.rb
Due: puppet-lint, puppet-syntax, rubocop

Fix git package resource contention in dotfiles profile
  site-modules/profile/manifests/dotfiles.pp
  site-modules/profile/spec/classes/dotfiles_spec.rb
Due: puppet-lint, puppet-syntax, rubocop

Update dotfiles to run on all
  data/common.yaml
  site-modules/role/manifests/base.pp
Due: puppet-lint, puppet-syntax, yaml-syntax

fix: allow dotfiles profile to compile in non-root CI environments
  site-modules/profile/manifests/dotfiles.pp
Due: puppet-lint, puppet-syntax

fix: resolve docker-compose-plugin resource contention
  site-modules/profile/manifests/monitoring.pp
  site-modules/profile/manifests/otel_collector.pp
  site-modules/profile/spec/classes/monitoring_spec.rb
  site-modules/profile/spec/classes/otel_collector_spec.rb
Due: puppet-lint, puppet-syntax, rubocop

feat: add profile combination testing to deployment simulation
  scripts/simulate-deployment.sh
Due: none

fix: correct Docker secret file permissions for container access
  site-modules/profile/manifests/monitoring.pp
Due: puppet-lint, puppet-syntax

feat: add SSL/TLS support with Let's Encrypt for monitoring services
  data/examples/monitoring-example.yaml
  site-modules/profile/manifests/monitoring.pp
  site-modules/profile/templates/monitoring/docker-compose.yaml.erb
  site-modules/profile/templates/monitoring/init-ssl.sh.erb
  site-modules/profile/templates/monitoring/nginx.conf.erb
Due: puppet-lint, puppet-syntax, erb-syntax, yaml-syntax

fix: update Loki configuration for 3.x compatibility
  site-modules/profile/templates/monitoring/loki-config.yaml.erb
Due: erb-syntax

Update monitoring IP
  data/nodes/vps.ra-home.co.uk.yaml
Due: yaml-syntax

Add grafana dash
  data/nodes/vps.ra-home.co.uk.yaml
Due: yaml-syntax

fix: add missing PIHOLE_API_TOKEN_FILE environment variable to pihole-exporter
  site-modules/profile/templates/monitoring/docker-compose.yaml.erb
Due: erb-syntax

chore: remove pihole_api_token in favor of password authentication
  data/nodes/vps.ra-home.co.uk.yaml
Due: yaml-syntax

fix: migrate to pihole6_exporter for Pi-hole v6 API compatibility
  data/nodes/vps.ra-home.co.uk.yaml
  site-modules/profile/templates/monitoring/docker-compose.yaml.erb
Due: erb-syntax, yaml-syntax

revert: switch back to ekofr/pihole-exporter for Pi-hole v6 compatibility
  data/nodes/vps.ra-home.co.uk.yaml
  site-modules/profile/templates/monitoring/docker-compose.yaml.erb
Due: erb-syntax, yaml-syntax

fix: use PIHOLE_PASSWORD env var instead of PIHOLE_PASSWORD_FILE
  site-modules/profile/templates/monitoring/docker-compose.yaml.erb
Due: erb-syntax

feat: add support for installing Grafana plugins via Hiera
  data/examples/monitoring-example.yaml
  data/nodes/vps.ra-home.co.uk.yaml
  site-modules/profile/manifests/monitoring.pp
  site-modules/profile/templates/monitoring/docker-compose.yaml.erb
Due: puppet-lint, puppet-syntax, erb-syntax, yaml-syntax

Update plugins
  data/nodes/vps.ra-home.co.uk.yaml
Due: yaml-syntax

fix: pass pihole password directly as env var instead of using secrets
  site-modules/profile/manifests/monitoring.pp
  site-modules/profile/templates/monitoring/docker-compose.yaml.erb
Due: puppet-lint, puppet-syntax, erb-syntax

feat: add Unbound DNS resolver profile
  data/examples/unbound-example.yaml
  data/nodes/vps.ra-home.co.uk.yaml
  site-modules/profile/manifests/unbound.pp
  site-modules/profile/spec/classes/unbound_spec.rb
  site-modules/profile/templates/unbound/pi-hole.conf.erb
  site-modules/profile/templates/unbound/remote-control.conf.erb
  site-modules/profile/templates/unbound/root-auto-trust-anchor-file.conf.erb
  site-modules/profile/templates/unbound/unbound.conf.erb
  site-modules/role/manifests/vps.pp
  site-modules/role/spec/classes/vps_spec.rb
Due: puppet-lint, puppet-syntax, erb-syntax, yaml-syntax, rubocop

feat: add comprehensive log collection to Loki
  FOR_CLAUDE/unbound.conf
  FOR_CLAUDE/unbound.conf.d/pi-hole.conf
  FOR_CLAUDE/unbound.conf.d/remote-control.conf
  FOR_CLAUDE/unbound.conf.d/root-auto-trust-anchor-file.conf
  data/examples/monitoring-example.yaml
  site-modules/profile/templates/monitoring/promtail-config.yaml.erb
Due: erb-syntax, yaml-syntax

feat: add monitoring stack container logs to Loki
  data/examples/monitoring-example.yaml
  site-modules/profile/templates/monitoring/promtail-config.yaml.erb
Due: erb-syntax, yaml-syntax

fix: address PR #72 review comments for unbound module
  .gitignore
  FOR_CLAUDE/unbound.conf
  FOR_CLAUDE/unbound.conf.d/pi-hole.conf
  FOR_CLAUDE/unbound.conf.d/remote-control.conf
  FOR_CLAUDE/unbound.conf.d/root-auto-trust-anchor-file.conf
  site-modules/profile/manifests/unbound.pp
  site-modules/profile/templates/unbound/pi-hole.conf.erb
  site-modules/profile/templates/unbound/unbound.conf.erb
Due: puppet-lint, puppet-syntax, erb-syntax

feat: add VPN gateway with comprehensive monitoring
  .fixtures.yml
  .rubocop.yml
  Puppetfile
  data/nodes/vps.ra-home.co.uk.yaml
  docs/GUIDE_VERIFICATION_CHECKLIST.md
  docs/VPN_GATEWAY_SETUP.md
  docs/VPS_WIREGUARD_SETUP.md
  site-modules/profile/manifests/base.pp
  site-modules/profile/manifests/monitoring.pp
  site-modules/profile/manifests/pihole_native.pp
  site-modules/profile/manifests/ssh_hardening.pp
  site-modules/profile/manifests/unattended_upgrades.pp
  site-modules/profile/manifests/unbound.pp
  site-modules/profile/manifests/wireguard.pp
  site-modules/profile/metadata.json
  site-modules/profile/spec/classes/base_spec.rb
  site-modules/profile/spec/classes/pihole_native_spec.rb
  site-modules/profile/spec/classes/ssh_hardening_spec.rb
  site-modules/profile/spec/classes/unattended_upgrades_spec.rb
  site-modules/profile/spec/classes/wireguard_spec.rb
  site-modules/profile/templates/monitoring/docker-compose.yaml.erb
  site-modules/profile/templates/monitoring/prometheus.yaml.erb
  site-modules/profile/templates/monitoring/promtail-config.yaml.erb
  site-modules/profile/templates/pihole_native/01-pihole.conf.erb
  site-modules/profile/templates/pihole_native/custom.list.erb
  site-modules/profile/templates/pihole_native/setupVars.conf.erb
  site-modules/profile/templates/unbound/remote-control.conf.erb
  site-modules/profile/templates/wireguard/wg0.conf.erb
  site-modules/role/manifests/vpn_gateway.pp
  site-modules/role/manifests/vps.pp
  site-modules/role/spec/classes/vpn_gateway_spec.rb
Due: puppet-lint, puppet-syntax, erb-syntax, yaml-syntax, rubocop, r10k-puppetfile

fix: remove puppetlabs-apt dependency and implement unattended-upgrades natively
  .fixtures.yml
  Puppetfile
  site-modules/profile/manifests/unattended_upgrades.pp
  site-modules/profile/templates/unattended_upgrades/20auto-upgrades.erb
  site-modules/profile/templates/unattended_upgrades/50unattended-upgrades.erb
Due: puppet-lint, puppet-syntax, erb-syntax, yaml-syntax, r10k-puppetfile

fix: replace non-existent apt::unattended_upgrades with native implementation
  .rspec
  site-modules/profile/manifests/unattended_upgrades.pp
  site-modules/profile/spec/classes/unattended_upgrades_spec.rb
Due: puppet-lint, puppet-syntax, rubocop

feat: add comprehensive testing to catch missing class definitions
  CLAUDE.md
  Rakefile
  scripts/simulate-deployment.sh
  scripts/validate-class-includes.rb
  spec/acceptance/catalog_compilation_spec.rb
Due: rubocop

fix: validate-class-includes should check deployed modules directory
  scripts/validate-class-includes.rb
Due: rubocop

fix: replace has_key with 'in' operator and add function validation
  CLAUDE.md
  Rakefile
  scripts/simulate-deployment.sh
  scripts/validate-deprecated-functions.rb
  site-modules/profile/manifests/wireguard.pp
Due: puppet-lint, puppet-syntax, rubocop

fix: make WireGuard service restart more robust
  site-modules/profile/templates/wireguard/wg0.conf.erb
Due: erb-syntax

fix: ensure package dependencies before use
  site-modules/profile/manifests/pihole_native.pp
  site-modules/profile/manifests/wireguard.pp
Due: puppet-lint, puppet-syntax

fix: add automatic cleanup of orphaned WireGuard interfaces
  site-modules/profile/manifests/wireguard.pp
Due: puppet-lint, puppet-syntax

Update features
  data/nodes/vps.ra-home.co.uk.yaml
Due: yaml-syntax

fix: disable profile::firewall to prevent UFW conflicts
  data/nodes/vps.ra-home.co.uk.yaml
Due: yaml-syntax

CRITICAL: Fix UFW default deny policy and migrate to VictoriaMetrics
  data/nodes/vps.ra-home.co.uk.yaml
  site-modules/profile/manifests/monitoring.pp
  site-modules/profile/manifests/wireguard.pp
  site-modules/profile/spec/classes/monitoring_docker_compose_spec.rb
  site-modules/profile/spec/classes/monitoring_spec.rb
  site-modules/profile/templates/monitoring/docker-compose.yaml.erb
  site-modules/profile/templates/monitoring/provisioning/datasources/loki.yaml.erb
  site-modules/profile/templates/monitoring/victoriametrics-scrape.yaml.erb
Due: puppet-lint, puppet-syntax, erb-syntax, yaml-syntax, rubocop

fix: Address PR #88 review comments
  site-modules/profile/spec/classes/wireguard_spec.rb
  site-modules/profile/templates/monitoring/victoriametrics-scrape.yaml.erb
Due: erb-syntax, rubocop

HOTFIX: Fix UFW class parameters - use include instead of class declaration
  site-modules/profile/manifests/wireguard.pp
Due: puppet-lint, puppet-syntax

HOTFIX: Handle encrypted SSH port from eyaml (String to Integer conversion)
  site-modules/profile/manifests/wireguard.pp
Due: puppet-lint, puppet-syntax
