Repository ryana-0154/infra-puppet-control: changes, and which pre-commit hooks are due for each by the changed paths.
All: puppet-lint, puppet-syntax, erb-syntax, yaml-syntax, rubocop, r10k-puppetfile

puppet-lint:
  name: Puppet Lint
  entry: bundle exec puppet-lint
  language: system

puppet-syntax:
  name: Puppet Syntax Check
  entry: bundle exec rake syntax:manifests
  language: system
  pass_filenames: false

erb-syntax:
  name: ERB Syntax Check
  entry: bundle exec rake validate_templates
  language: system
  pass_filenames: false

yaml-syntax:
  name: YAML Syntax Check
  entry: bundle exec rake syntax:hiera
  language: system
  pass_filenames: false

rubocop:
  name: RuboCop
  entry: bundle exec rubocop --fail-level convention
  language: system

r10k-puppetfile:
  name: R10k Puppetfile Check
  entry: bundle exec r10k puppetfile check
  language: system
  pass_filenames: false

feat: add Grafana Cloud Alloy config to Pi Hiera
  data/nodes/pi.ra-home.co.uk.yaml
Due: yaml-syntax

refactor: move Grafana Cloud Alloy credentials to common.yaml
  data/common.yaml
  data/nodes/pi.ra-home.co.uk.yaml
Due: yaml-syntax

feat: make Pi-hole local domain configurable
  site-modules/profile/manifests/pihole.pp
  site-modules/profile/spec/classes/pihole_spec.rb
  site-modules/profile/templates/pihole/pihole.toml.erb
Due: puppet-lint, puppet-syntax, erb-syntax, rubocop

fix: handle existing non-git dotfiles directories gracefully
  site-modules/profile/manifests/dotfiles.pp
  site-modules/profile/spec/classes/dotfiles_spec.rb
Due: puppet-lint, puppet-syntax, rubocop

Add actual budget
  site-modules/profile/manifests/actual_budget.pp
  site-modules/profile/templates/actual_budget/docker-compose.yaml.erb
Due: puppet-lint, puppet-syntax, erb-syntax

Up
  hiera.yaml
Due: yaml-syntax

123
  hiera.yaml
Due: yaml-syntax

feat: add Authentik identity provider profile
  data/examples/authentik-example.yaml
  site-modules/profile/manifests/authentik.pp
  site-modules/profile/spec/classes/authentik_spec.rb
  site-modules/profile/templates/authentik/.env.epp
  site-modules/profile/templates/authentik/docker-compose.yaml.epp
Due: puppet-lint, puppet-syntax, yaml-syntax, rubocop

234
  hiera.yaml
Due: yaml-syntax

123
  site-modules/profile/manifests/actual_budget.pp
Due: puppet-lint, puppet-syntax

123
  site-modules/profile/templates/actual_budget/docker-compose.yaml.erb
Due: erb-syntax

feat: add HashiCorp Vault profile for Foreman ENC secrets
  data/vault-example.yaml
  site-modules/profile/manifests/vault.pp
  site-modules/profile/spec/classes/vault_spec.rb
  site-modules/profile/templates/vault/.env.epp
  site-modules/profile/templates/vault/docker-compose.yaml.epp
  site-modules/profile/templates/vault/foreman-setup.sh.epp
  site-modules/profile/templates/vault/vault-cli.sh.epp
  site-modules/profile/templates/vault/vault.hcl.epp
Due: puppet-lint, puppet-syntax, yaml-syntax, rubocop

Refactor to Foreman ENC-first architecture
  .fixtures.yml
  Puppetfile
  data/common.yaml
  data/nodes/foreman01.ra-home.co.uk.yaml
  data/nodes/pi.ra-home.co.uk.yaml
  data/nodes/vps.ra-home.co.uk.yaml
  hiera.yaml
  manifests/site.pp
  scripts/check-test-coverage.rb
  scripts/simulate-deployment.sh
  site-modules/profile/manifests/base.pp
  site-modules/profile/manifests/fail2ban.pp
  site-modules/profile/manifests/firewall.pp
  site-modules/profile/manifests/ntp.pp
  site-modules/profile/manifests/vault.pp
  site-modules/profile/manifests/wireguard.pp
  site-modules/profile/spec/classes/base_spec.rb
  site-modules/profile/spec/classes/ntp_spec.rb
  site-modules/profile/spec/classes/vault_spec.rb
  site-modules/profile/templates/vault/agent.hcl.epp
  site-modules/profile/templates/vault/vault-agent.service.epp
  site-modules/profile/templates/wireguard/wg0.conf.erb
  site-modules/role/manifests/base.pp
  site-modules/role/manifests/foreman.pp
  site-modules/role/manifests/init.pp
  site-modules/role/manifests/vpn_gateway.pp
  site-modules/role/manifests/vps.pp
  site-modules/role/manifests/webserver.pp
  site-modules/role/metadata.json
  site-modules/role/spec/classes/base_spec.rb
  site-modules/role/spec/classes/foreman_spec.rb
  site-modules/role/spec/classes/vpn_gateway_spec.rb
  site-modules/role/spec/classes/vps_spec.rb
  site-modules/role/spec/classes/webserver_spec.rb
  spec/acceptance/catalog_compilation_spec.rb
  spec/integration/rocky9_deployment_spec.rb
Due: puppet-lint, puppet-syntax, erb-syntax, yaml-syntax, rubocop, r10k-puppetfile

Add profile::vault_agent for client-side secrets
  site-modules/profile/manifests/vault_agent.pp
  site-modules/profile/spec/classes/vault_agent_spec.rb
Due: puppet-lint, puppet-syntax, rubocop

Add homelab-puppet module v0.1.0
  Puppetfile
Due: r10k-puppetfile

Update homelab-puppet to v0.2.0
  Puppetfile
Due: r10k-puppetfile

Update homelab-puppet to v0.3.0
  Puppetfile
Due: r10k-puppetfile

123
  manifests/site.pp
Due: puppet-lint, puppet-syntax

Update homelab-puppet to v0.4.0
  Puppetfile
Due: r10k-puppetfile

Update homelab-puppet to v0.5.0
  Puppetfile
Due: r10k-puppetfile

Update homelab-puppet to v0.5.1 - fix Authentik DNS
  Puppetfile
Due: r10k-puppetfile

Update homelab module to v0.5.2
  Puppetfile
Due: r10k-puppetfile

Update homelab module to v0.5.3
  Puppetfile
Due: r10k-puppetfile

Update homelab module to v0.5.4
  Puppetfile
Due: r10k-puppetfile

Update homelab module to v0.6.0
  Puppetfile
Due: r10k-puppetfile

Update homelab to v0.6.1 - fix Sensitive type
  Puppetfile
Due: r10k-puppetfile

Update homelab to v0.6.2 - fix docker exec for vault
  Puppetfile
Due: r10k-puppetfile

Update homelab to v0.6.3
  Puppetfile
Due: r10k-puppetfile

Update homelab to v0.6.4
  Puppetfile
Due: r10k-puppetfile

Update homelab to v0.7.0 - add Vault auto-unseal
  Puppetfile
Due: r10k-puppetfile

Update homelab to v0.7.1
  Puppetfile
Due: r10k-puppetfile

Update homelab to v0.7.2
  Puppetfile
Due: r10k-puppetfile

Update homelab to v0.7.3
  Puppetfile
Due: r10k-puppetfile

Update homelab to v0.7.4
  Puppetfile
Due: r10k-puppetfile

Update homelab to v0.7.5
  Puppetfile
Due: r10k-puppetfile

Update homelab to v0.7.6
  Puppetfile
Due: r10k-puppetfile

Path conditions:
  puppet-lint: any of: \.pp$, but not: ^(modules/|vendor/|spec/fixtures/)
  puppet-syntax: any of: \.pp$
  erb-syntax: any of: \.erb$
  yaml-syntax: any of: \.ya?ml$, but not: ^\.pre-commit-config\.yaml$
  rubocop: any of: \.(rb|rake)$, but not: ^(modules/|vendor/|spec/fixtures/)
  r10k-puppetfile: any of: ^Puppetfile$
