Repository ryana-0154/infra-puppet-control: changes, and which pre-commit hooks are due for each by the changed paths.
All: puppet-lint, puppet-syntax, erb-syntax, yaml-syntax, rubocop, r10k-puppetfile

.pre-commit-config.yaml:

---
# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^(data/|hieradata/)
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key

  - repo: local
    hooks:
      - id: puppet-lint
        name: Puppet Lint
        entry: bundle exec puppet-lint
        language: system
        files: \.pp$
        exclude: ^(modules/|vendor/|spec/fixtures/)

      - id: puppet-syntax
        name: Puppet Syntax Check
        entry: bundle exec rake syntax:manifests
        language: system
        files: \.pp$
        pass_filenames: false

      - id: erb-syntax
        name: ERB Syntax Check
        entry: bundle exec rake validate_templates
        language: system
        files: \.erb$
        pass_filenames: false

      - id: yaml-syntax
        name: YAML Syntax Check
        entry: bundle exec rake syntax:hiera
        language: system
        files: \.ya?ml$
        pass_filenames: false
        exclude: ^\.pre-commit-config\.yaml$

      - id: rubocop
        name: RuboCop
        entry: bundle exec rubocop --fail-level convention
        language: system
        files: \.(rb|rake)$
        exclude: ^(modules/|vendor/|spec/fixtures/)

      - id: r10k-puppetfile
        name: R10k Puppetfile Check
        entry: bundle exec r10k puppetfile check
        language: system
        files: ^Puppetfile$
        pass_filenames: false

fix: disable TLS for unbound-exporter to match Unbound's no-cert configuration
  site-modules/profile/templates/monitoring/docker-compose.yaml.erb
Due: erb-syntax

fix: use environment variables to disable TLS for unbound-exporter
  site-modules/profile/templates/monitoring/docker-compose.yaml.erb
Due: erb-syntax

fix: use Unix socket for unbound-exporter to avoid TLS certificate requirement
  site-modules/profile/templates/monitoring/docker-compose.yaml.erb
  site-modules/profile/templates/unbound/remote-control.conf.erb
Due: erb-syntax

fix: omit certificate flags entirely for Unix socket connection
  site-modules/profile/templates/monitoring/docker-compose.yaml.erb
Due: erb-syntax

fix: switch to kumina/unbound-exporter image for proper Unix socket support
  site-modules/profile/manifests/monitoring.pp
  site-modules/profile/templates/monitoring/docker-compose.yaml.erb
Due: puppet-lint, puppet-syntax, erb-syntax

fix: use cyb3rjak3/unbound-exporter Docker image (correct image name)
  site-modules/profile/manifests/monitoring.pp
Due: puppet-lint, puppet-syntax

fix: add --prepend_sudo flag to wireguard-exporter
  site-modules/profile/templates/monitoring/docker-compose.yaml.erb
Due: erb-syntax

feat: allow Prometheus (port 9090) access from WireGuard VPN
  site-modules/profile/manifests/wireguard.pp
Due: puppet-lint, puppet-syntax

feat: add --remove-orphans flag to restart-monitoring-stack command
  site-modules/profile/manifests/monitoring.pp
Due: puppet-lint, puppet-syntax

docs: add firewall-expert agent definition for proactive firewall review
  .clinerules/agents.md
Due: none

feat: add mandatory firewall-expert agent validation to workflow
  CLAUDE.md
Due: none

Updates
  MIGRATION-FOREMAN.md
  cloud-init/.gitignore
  cloud-init/CHEATSHEET.md
  cloud-init/INDEX.md
  cloud-init/IONOS.md
  cloud-init/QUICKSTART.md
  cloud-init/README.md
  cloud-init/base.yaml
  cloud-init/customize.sh
  cloud-init/examples.md
  cloud-init/foreman-client.yaml
  cloud-init/test-customize.sh
  cloud-init/vps.yaml
  data/nodes/foreman.ra-home.co.uk.yaml
  scripts/foreman-backup.sh
  scripts/prepare-foreman-migration.sh
  site-modules/profile/templates/monitoring/promtail-config.yaml.erb
  site-modules/profile/templates/unbound/unbound.conf.erb
Due: erb-syntax, yaml-syntax

Updates
  site-modules/profile/templates/monitoring/promtail-config.yaml.erb
Due: erb-syntax

Add foreman peer
  cloud-init/base.yaml
  cloud-init/foreman-client.yaml
  cloud-init/vps.yaml
  data/nodes/vps.ra-home.co.uk.yaml
Due: yaml-syntax

Updates
  data/common.yaml
  data/nodes/foreman.ra-home.co.uk.yaml
  data/nodes/foreman01.ra-home.co.uk.yaml
  data/nodes/vps.ra-home.co.uk.yaml
Due: yaml-syntax

Updates
  manifests/site.pp
Due: puppet-lint, puppet-syntax

fix: upgrade Foreman to 3.12 for Rocky Linux 9 compatibility
  Puppetfile
  data/nodes/foreman01.ra-home.co.uk.yaml
Due: yaml-syntax, r10k-puppetfile

fix: add explicit foreman::repo class inclusion for EL9
  site-modules/profile/manifests/foreman.pp
  site-modules/profile/spec/classes/foreman_spec.rb
Due: puppet-lint, puppet-syntax, rubocop

fix: add Puppet Server installation for Foreman integration
  site-modules/profile/manifests/foreman.pp
Due: puppet-lint, puppet-syntax

fix: use correct puppet class parameters for Foreman integration
  site-modules/profile/manifests/foreman.pp
Due: puppet-lint, puppet-syntax

fix: add missing theforeman-puppetserver_foreman module
  Puppetfile
Due: r10k-puppetfile

fix: remove circular dependency between foreman and puppet classes
  site-modules/profile/manifests/foreman.pp
Due: puppet-lint, puppet-syntax

fix: preserve agent configuration when installing Puppet Server
  site-modules/profile/manifests/foreman.pp
Due: puppet-lint, puppet-syntax

fix: use correct parameter name 'agent' instead of 'client'
  site-modules/profile/manifests/foreman.pp
Due: puppet-lint, puppet-syntax

fix: set agent_server_hostname to preserve agent connection to pi
  site-modules/profile/manifests/foreman.pp
Due: puppet-lint, puppet-syntax

fix: disable CA on foreman01 - pi is the Certificate Authority
  site-modules/profile/manifests/foreman.pp
Due: puppet-lint, puppet-syntax

fix: disable Foreman registration during initial installation
  data/nodes/foreman01.ra-home.co.uk.yaml
  site-modules/profile/manifests/foreman.pp
Due: puppet-lint, puppet-syntax, yaml-syntax

feat: enable Foreman registration now that services are running
  data/nodes/foreman01.ra-home.co.uk.yaml
  site-modules/profile/manifests/foreman.pp
Due: puppet-lint, puppet-syntax, yaml-syntax

feat: add DNS profile to manage /etc/resolv.conf across all nodes
  data/common.yaml
  site-modules/profile/manifests/base.pp
  site-modules/profile/manifests/dns.pp
  site-modules/profile/spec/classes/dns_spec.rb
  site-modules/profile/templates/dns/resolv.conf.erb
Due: puppet-lint, puppet-syntax, erb-syntax, yaml-syntax, rubocop

fix: temporarily disable Foreman Smart Proxy registration
  data/nodes/foreman01.ra-home.co.uk.yaml
Due: yaml-syntax

fix: update Foreman Smart Proxy OAuth credentials and re-enable registration
  data/nodes/foreman01.ra-home.co.uk.yaml
Due: yaml-syntax

feat: migrate Puppet Server from pi to foreman01
  data/common.yaml
  data/nodes/foreman01.ra-home.co.uk.yaml
  site-modules/profile/manifests/base.pp
  site-modules/profile/manifests/foreman.pp
  site-modules/profile/manifests/puppet_agent.pp
  site-modules/profile/spec/classes/puppet_agent_spec.rb
Due: puppet-lint, puppet-syntax, yaml-syntax, rubocop

feat: add r10k profile for Puppet control repository deployment
  data/nodes/foreman01.ra-home.co.uk.yaml
  site-modules/profile/manifests/foreman.pp
  site-modules/profile/manifests/r10k.pp
  site-modules/profile/spec/classes/r10k_spec.rb
  site-modules/profile/templates/r10k/r10k.yaml.erb
Due: puppet-lint, puppet-syntax, erb-syntax, yaml-syntax, rubocop

fix: pin r10k to version 3.15.5 for Ruby 2.7 compatibility
  site-modules/profile/manifests/r10k.pp
Due: puppet-lint, puppet-syntax

fix: correct r10k version to 3.16.2 (actual latest 3.x release)
  site-modules/profile/manifests/r10k.pp
Due: puppet-lint, puppet-syntax

feat: add Let's Encrypt certificate automation with PuppetDB support
  Puppetfile
  site-modules/profile/manifests/acme_deploy.pp
  site-modules/profile/manifests/acme_server.pp
  site-modules/profile/manifests/nginx_proxy.pp
  site-modules/profile/manifests/puppetdb.pp
  site-modules/profile/spec/classes/acme_deploy_spec.rb
  site-modules/profile/spec/classes/acme_server_spec.rb
  site-modules/profile/spec/classes/nginx_proxy_spec.rb
  site-modules/profile/spec/classes/puppetdb_spec.rb
  site-modules/role/manifests/foreman.pp
Due: puppet-lint, puppet-syntax, rubocop, r10k-puppetfile

chore: update Foreman proxy OAuth credentials and r10k configuration
  data/nodes/foreman01.ra-home.co.uk.yaml
  site-modules/profile/templates/r10k/r10k.yaml.erb
Due: erb-syntax, yaml-syntax

Updates
  data/nodes/foreman01.ra-home.co.uk.yaml
Due: yaml-syntax

123
  data/nodes/foreman01.ra-home.co.uk.yaml
Due: yaml-syntax
