Repository ryana-0154/infra-puppet-control: changes, and which pre-commit hooks are due for each by the changed paths.
All: puppet-lint, puppet-syntax, erb-syntax, yaml-syntax, rubocop, r10k-puppetfile

.pre-commit-config.yaml:

---
# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^(data/|hieradata/)
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key

  - repo: local
    hooks:
      - id: puppet-lint
        name: Puppet Lint
        entry: bundle exec puppet-lint
        language: system
        files: \.pp$
        exclude: ^(modules/|vendor/|spec/fixtures/)

      - id: puppet-syntax
        name: Puppet Syntax Check
        entry: bundle exec rake syntax:manifests
        language: system
        files: \.pp$
        pass_filenames: false

      - id: erb-syntax
        name: ERB Syntax Check
        entry: bundle exec rake validate_templates
        language: system
        files: \.erb$
        pass_filenames: false

      - id: yaml-syntax
        name: YAML Syntax Check
        entry: bundle exec rake syntax:hiera
        language: system
        files: \.ya?ml$
        pass_filenames: false
        exclude: ^\.pre-commit-config\.yaml$

      - id: rubocop
        name: RuboCop
        entry: bundle exec rubocop --fail-level convention
        language: system
        files: \.(rb|rake)$
        exclude: ^(modules/|vendor/|spec/fixtures/)

      - id: r10k-puppetfile
        name: R10k Puppetfile Check
        entry: bundle exec r10k puppetfile check
        language: system
        files: ^Puppetfile$
        pass_filenames: false

EMERGENCY: Add explicit UFW deny rules to block Docker host networking bypass
  site-modules/profile/manifests/wireguard.pp
  site-modules/profile/spec/classes/wireguard_spec.rb
Due: puppet-lint, puppet-syntax, rubocop

fix: Configure Pi-hole FTL and purge old firewall rules to close exposed ports
  data/nodes/vps.ra-home.co.uk.yaml
  site-modules/profile/manifests/base.pp
  site-modules/profile/manifests/pihole_native.pp
  site-modules/profile/templates/pihole_native/pihole-FTL.conf.erb
Due: puppet-lint, puppet-syntax, erb-syntax, yaml-syntax

fix: Remove duplicate Service[pihole-FTL] declaration
  site-modules/profile/manifests/pihole_native.pp
Due: puppet-lint, puppet-syntax

EMERGENCY FIX: Remove dangerous firewall rule purge
  site-modules/profile/manifests/base.pp
Due: puppet-lint, puppet-syntax

feat: Add Rocky Linux 9 validation to test suite
  .github/workflows/ci.yml
  CLAUDE.md
  Rakefile
  spec/integration/rocky9_deployment_spec.rb
  spec/spec_helper.rb
Due: yaml-syntax, rubocop

fix: Change Pi-hole file ownership to pihole:pihole to fix race condition
  site-modules/profile/manifests/pihole_native.pp
  site-modules/profile/spec/classes/pihole_native_spec.rb
Due: puppet-lint, puppet-syntax, rubocop

fix: Change Pi-hole file ownership to pihole:pihole to fix race condition
  site-modules/profile/manifests/pihole_native.pp
  site-modules/profile/spec/classes/pihole_native_spec.rb
  spec/integration/rocky9_deployment_spec.rb
  spec/spec_helper.rb
Due: puppet-lint, puppet-syntax, rubocop

Updates
  site-modules/profile/manifests/pihole_native.pp
Due: puppet-lint, puppet-syntax

feat: add Foreman ENC server deployment for pi.ra-home.co.uk
  Puppetfile
  data/nodes/README-pi-secrets.md
  data/nodes/pi.ra-home.co.uk.yaml
  manifests/site.pp
  site-modules/profile/manifests/foreman.pp
  site-modules/profile/manifests/foreman_proxy.pp
  site-modules/profile/manifests/postgresql.pp
  site-modules/profile/spec/classes/foreman_proxy_spec.rb
  site-modules/profile/spec/classes/foreman_spec.rb
  site-modules/profile/spec/classes/postgresql_spec.rb
  site-modules/role/manifests/foreman.pp
  site-modules/role/spec/classes/foreman_spec.rb
Due: puppet-lint, puppet-syntax, yaml-syntax, rubocop, r10k-puppetfile

fix: disable RSpec/ContextWording cop for rspec-puppet pattern
  .rubocop.yml
Due: yaml-syntax

Add secrets
  data/nodes/pi.ra-home.co.uk.yaml
Due: yaml-syntax

fix: remove redundant RSpec/ContextWording disable directive
  spec/acceptance/catalog_compilation_spec.rb
Due: rubocop

fix: address Claude review feedback and deployment simulation failures
  data/nodes/README-pi-secrets.md
  data/nodes/pi.ra-home.co.uk.yaml
  site-modules/profile/manifests/foreman.pp
  site-modules/profile/manifests/foreman_proxy.pp
  site-modules/profile/manifests/postgresql.pp
  site-modules/role/manifests/foreman.pp
Due: puppet-lint, puppet-syntax, yaml-syntax

fix: resolve compilation errors and test failures
  .fixtures.yml
  data/nodes/pi.ra-home.co.uk.yaml
  site-modules/profile/manifests/foreman.pp
  site-modules/profile/spec/classes/foreman_spec.rb
Due: puppet-lint, puppet-syntax, yaml-syntax, rubocop

Update pi
  data/nodes/puppet.pi.yaml
Due: yaml-syntax

up
  manifests/site.pp
Due: puppet-lint, puppet-syntax

ok
  data/nodes/pi.ra-home.co.uk.yaml
  manifests/site.pp
Due: puppet-lint, puppet-syntax, yaml-syntax

fix: UFW rule ordering and PostgreSQL module parameters
  site-modules/profile/manifests/postgresql.pp
  site-modules/profile/manifests/wireguard.pp
Due: puppet-lint, puppet-syntax

fix: correct Sensitive password variable references in Foreman class
  site-modules/profile/manifests/foreman.pp
Due: puppet-lint, puppet-syntax

fix: correct Unbound exporter Docker image and add Redis module dependency
  Puppetfile
  site-modules/profile/manifests/monitoring.pp
Due: puppet-lint, puppet-syntax, r10k-puppetfile

fix: correct unbound-exporter command syntax in docker-compose
  site-modules/profile/templates/monitoring/docker-compose.yaml.erb
Due: erb-syntax

Updates
  data/nodes/pi.ra-home.co.uk.yaml
Due: yaml-syntax

fix: use correct parameter names for theforeman-foreman module
  site-modules/profile/manifests/foreman.pp
Due: puppet-lint, puppet-syntax

fix: include binary name in unbound-exporter command
  site-modules/profile/templates/monitoring/docker-compose.yaml.erb
Due: erb-syntax

fix: add puppetlabs-apache module dependency for Foreman
  Puppetfile
Due: r10k-puppetfile

fix: update Authelia config to v4.38+ format
  site-modules/profile/templates/monitoring/authelia-config.yaml.erb
Due: erb-syntax

fix: use include instead of class declaration for foreman::plugin::puppet
  site-modules/profile/manifests/foreman.pp
Due: puppet-lint, puppet-syntax

fix: update Authelia config to v4.38 session.cookies format
  site-modules/profile/templates/monitoring/authelia-config.yaml.erb
Due: erb-syntax

fix: handle Sensitive type for OAuth credentials in foreman_proxy profile
  site-modules/profile/manifests/foreman_proxy.pp
Due: puppet-lint, puppet-syntax

fix: add required authelia_url to session cookie configuration
  site-modules/profile/templates/monitoring/authelia-config.yaml.erb
Due: erb-syntax

fix: add all missing Foreman module dependencies
  Puppetfile
Due: r10k-puppetfile

security: add firewall rule to block Redis from internet
  site-modules/profile/manifests/wireguard.pp
Due: puppet-lint, puppet-syntax

fix: use monitoring_ip for Redis host in Authelia config
  site-modules/profile/templates/monitoring/authelia-config.yaml.erb
Due: erb-syntax

feat: enhance Puppet log parsing in Promtail
  site-modules/profile/templates/monitoring/promtail-config.yaml.erb
Due: erb-syntax

fix: add Authelia firewall rule and fix PostgreSQL user parameter
  site-modules/profile/manifests/postgresql.pp
  site-modules/profile/manifests/wireguard.pp
Due: puppet-lint, puppet-syntax

fix: transform password to password_hash for PostgreSQL users
  site-modules/profile/manifests/postgresql.pp
Due: puppet-lint, puppet-syntax

fix: use namespaced postgresql::postgresql_password function
  site-modules/profile/manifests/postgresql.pp
Due: puppet-lint, puppet-syntax

fix: remove encoding and locale from PostgreSQL server class to avoid dependency cycle
  site-modules/profile/manifests/postgresql.pp
Due: puppet-lint, puppet-syntax
