Repository ryana-0154/infra-puppet-control: changes, and which pre-commit hooks are due for each by the changed paths.
All: puppet-lint, puppet-syntax, erb-syntax, yaml-syntax, rubocop, r10k-puppetfile

.pre-commit-config.yaml:

---
# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^(data/|hieradata/)
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key

  - repo: local
    hooks:
      - id: puppet-lint
        name: Puppet Lint
        entry: bundle exec puppet-lint
        language: system
        files: \.pp$
        exclude: ^(modules/|vendor/|spec/fixtures/)

      - id: puppet-syntax
        name: Puppet Syntax Check
        entry: bundle exec rake syntax:manifests
        language: system
        files: \.pp$
        pass_filenames: false

      - id: erb-syntax
        name: ERB Syntax Check
        entry: bundle exec rake validate_templates
        language: system
        files: \.erb$
        pass_filenames: false

      - id: yaml-syntax
        name: YAML Syntax Check
        entry: bundle exec rake syntax:hiera
        language: system
        files: \.ya?ml$
        pass_filenames: false
        exclude: ^\.pre-commit-config\.yaml$

      - id: rubocop
        name: RuboCop
        entry: bundle exec rubocop --fail-level convention
        language: system
        files: \.(rb|rake)$
        exclude: ^(modules/|vendor/|spec/fixtures/)

      - id: r10k-puppetfile
        name: R10k Puppetfile Check
        entry: bundle exec r10k puppetfile check
        language: system
        files: ^Puppetfile$
        pass_filenames: false

fix: remove ACME config from node data to allow Foreman ENC control
  data/nodes/foreman01.ra-home.co.uk.yaml
Due: yaml-syntax

fix: add ACME configuration to Hiera (Smart Class Parameters don't work)
  data/nodes/foreman01.ra-home.co.uk.yaml
Due: yaml-syntax

feat: make profile::acme_server work with Foreman ENC Smart Class Parameters
  data/nodes/foreman01.ra-home.co.uk.yaml
  site-modules/profile/manifests/acme_server.pp
Due: puppet-lint, puppet-syntax, yaml-syntax

feat: add Foreman ENC support to all profile classes
  site-modules/profile/README.md
  site-modules/profile/functions/param.pp
  site-modules/profile/manifests/acme_server.pp
  site-modules/profile/manifests/puppetdb.pp
Due: puppet-lint, puppet-syntax

fix: make profile::param() actually check top-scope variables for ENC
  site-modules/profile/functions/param.pp
Due: puppet-lint, puppet-syntax

fix: handle postgres_port type conversion for PuppetDB module
  site-modules/profile/manifests/puppetdb.pp
Due: puppet-lint, puppet-syntax

fix: convert postgres_port to String for PuppetDB module
  site-modules/profile/manifests/puppetdb.pp
Due: puppet-lint, puppet-syntax

fix: prevent duplicate puppetserver service declaration
  site-modules/profile/manifests/puppetdb.pp
Due: puppet-lint, puppet-syntax

fix: remove non-existent manage_puppetserver parameter
  site-modules/profile/manifests/puppetdb.pp
Due: puppet-lint, puppet-syntax

fix: use correct parameters for markt-acme module
  site-modules/profile/manifests/acme_server.pp
Due: puppet-lint, puppet-syntax

feat: add PuppetDB database configuration to Puppet
  data/nodes/foreman01.ra-home.co.uk.yaml
  site-modules/profile/manifests/postgresql.pp
Due: puppet-lint, puppet-syntax, yaml-syntax

fix: remove plaintext PuppetDB passwords from YAML
  data/nodes/foreman01.ra-home.co.uk.yaml
Due: yaml-syntax

fix: add missing PuppetDB database users and modernize profiles
  data/nodes/foreman01.ra-home.co.uk.yaml
  site-modules/profile/README.md
  site-modules/profile/functions/param.pp
  site-modules/profile/manifests/acme_server.pp
  site-modules/profile/manifests/puppetdb.pp
Due: puppet-lint, puppet-syntax, yaml-syntax

fix: use Hiera alias for PuppetDB password parameter
  data/nodes/foreman01.ra-home.co.uk.yaml
Due: yaml-syntax

fix: enable Foreman ENC password lookup for PuppetDB users
  data/nodes/foreman01.ra-home.co.uk.yaml
  site-modules/profile/manifests/postgresql.pp
Due: puppet-lint, puppet-syntax, yaml-syntax

fix: remove duplicate puppetdb database declaration
  data/nodes/foreman01.ra-home.co.uk.yaml
Due: yaml-syntax

fix: change puppetdb_read privilege from SELECT to CONNECT
  data/nodes/foreman01.ra-home.co.uk.yaml
Due: yaml-syntax

fix: remove all PuppetDB config from YAML - manage via Foreman ENC only
  data/nodes/foreman01.ra-home.co.uk.yaml
Due: yaml-syntax

fix: add pg_hba rules back to YAML (infrastructure config)
  data/nodes/foreman01.ra-home.co.uk.yaml
Due: yaml-syntax

fix: use lookup() for ACME parameters to support Foreman ENC
  site-modules/profile/manifests/acme_server.pp
Due: puppet-lint, puppet-syntax

Add ACME configuration to Hiera for foreman01
  data/nodes/foreman01.ra-home.co.uk.yaml
  site-modules/profile/manifests/acme_server.pp
Due: puppet-lint, puppet-syntax, yaml-syntax

Make profile::acme_server work with Foreman ENC parameters
  CLAUDE.md
  site-modules/profile/manifests/acme_server.pp
Due: puppet-lint, puppet-syntax

Remove ACME config from Hiera - use Foreman ENC instead
  data/nodes/foreman01.ra-home.co.uk.yaml
Due: yaml-syntax

fix: handle optional contact_email parameter correctly
  site-modules/profile/manifests/acme_server.pp
Due: puppet-lint, puppet-syntax

fix: use top-scope variable references for ENC parameters
  site-modules/profile/manifests/acme_server.pp
Due: puppet-lint, puppet-syntax

Use Hiera for ACME config + lookup() for parameter resolution
  data/nodes/foreman01.ra-home.co.uk.yaml
  site-modules/profile/manifests/acme_server.pp
Due: puppet-lint, puppet-syntax, yaml-syntax

docs: correct Foreman ENC + Hiera pattern in CLAUDE.md
  CLAUDE.md
Due: none

fix: avoid selector inside resource block (puppet-lint)
  site-modules/profile/manifests/acme_server.pp
Due: puppet-lint, puppet-syntax

fix: use correct markt-acme module API
  site-modules/profile/manifests/acme_server.pp
Due: puppet-lint, puppet-syntax

fix: add required use_account parameter to ACME certificate
  data/nodes/foreman01.ra-home.co.uk.yaml
Due: yaml-syntax

docs: update deployment workflow to push to both branches
  CLAUDE.md
Due: none

fix: add ca parameter to ACME certificate configuration
  data/nodes/foreman01.ra-home.co.uk.yaml
Due: yaml-syntax

feat: enable PuppetDB storeconfigs for ACME exported resources
  data/nodes/foreman01.ra-home.co.uk.yaml
Due: yaml-syntax

fix: enable storeconfigs in [server] section for modern Puppet
  site-modules/profile/manifests/foreman.pp
  site-modules/profile/manifests/puppetdb.pp
Due: puppet-lint, puppet-syntax

fix: add Cloudflare API token and correct DNS hook name for ACME
  data/nodes/foreman01.ra-home.co.uk.yaml
Due: yaml-syntax

fix: disable OCSP must-staple for Let's Encrypt compatibility
  data/nodes/foreman01.ra-home.co.uk.yaml
Due: yaml-syntax

fix: add OCSP file workaround to prevent Puppet run failures
  site-modules/profile/manifests/acme_server.pp
Due: puppet-lint, puppet-syntax

fix: use exec instead of file resource for OCSP workaround
  site-modules/profile/manifests/acme_server.pp
Due: puppet-lint, puppet-syntax

fix: ensure OCSP placeholder runs before OCSP fetch attempt
  site-modules/profile/manifests/acme_server.pp
Due: puppet-lint, puppet-syntax
