Repository ryana-0154/infra-puppet-control: changes, and which pre-commit hooks are due for each by the changed paths.
All: puppet-lint, puppet-syntax, erb-syntax, yaml-syntax, rubocop, r10k-puppetfile

puppet-lint:
  name: Puppet Lint
  entry: bundle exec puppet-lint
  language: system

puppet-syntax:
  name: Puppet Syntax Check
  entry: bundle exec rake syntax:manifests
  language: system
  pass_filenames: false

erb-syntax:
  name: ERB Syntax Check
  entry: bundle exec rake validate_templates
  language: system
  pass_filenames: false

yaml-syntax:
  name: YAML Syntax Check
  entry: bundle exec rake syntax:hiera
  language: system
  pass_filenames: false

rubocop:
  name: RuboCop
  entry: bundle exec rubocop --fail-level convention
  language: system

r10k-puppetfile:
  name: R10k Puppetfile Check
  entry: bundle exec r10k puppetfile check
  language: system
  pass_filenames: false

fix: correct shell quoting in OCSP placeholder command
  site-modules/profile/manifests/acme_server.pp
Due: puppet-lint, puppet-syntax

fix: prevent puppet.conf churn by disabling puppetdb report management
  site-modules/profile/manifests/foreman.pp
  site-modules/profile/manifests/puppetdb.pp
Due: puppet-lint, puppet-syntax

feat: deploy ACME wildcard certificate to Foreman and Puppet Server
  data/nodes/foreman01.ra-home.co.uk.yaml
  site-modules/role/manifests/foreman.pp
Due: puppet-lint, puppet-syntax, yaml-syntax

fix: remove profile::acme_deploy from foreman role
  data/nodes/foreman01.ra-home.co.uk.yaml
  site-modules/role/manifests/foreman.pp
Due: puppet-lint, puppet-syntax, yaml-syntax

fix: remove before relationship from OCSP placeholder exec
  site-modules/profile/manifests/acme_server.pp
Due: puppet-lint, puppet-syntax

fix: revert Foreman to Puppet certs until ACME certificate is issued
  data/nodes/foreman01.ra-home.co.uk.yaml
Due: yaml-syntax

feat: configure Foreman to use Let's Encrypt wildcard certificate
  data/nodes/foreman01.ra-home.co.uk.yaml
Due: yaml-syntax

feat: switch to production Let's Encrypt certificates
  data/nodes/foreman01.ra-home.co.uk.yaml
Due: yaml-syntax

feat: add multi-source parameter resolution to profile::acme_server
  CLAUDE.md
  site-modules/profile/manifests/acme_server.pp
Due: puppet-lint, puppet-syntax

fix: correct ACME posthook parameter and use fullchain for SSL
  data/nodes/foreman01.ra-home.co.uk.yaml
Due: yaml-syntax

fix: use correct posthook_cmd parameter name for acme module
  data/nodes/foreman01.ra-home.co.uk.yaml
Due: yaml-syntax

fix: remove log_level from firewall LOG rules to prevent drift
  site-modules/profile/manifests/firewall.pp
Due: puppet-lint, puppet-syntax

fix: remove server_ssl_ca to fix SSL chain with fullchain.pem
  data/nodes/foreman01.ra-home.co.uk.yaml
Due: yaml-syntax

fix: disable SSLCertificateChainFile with fullchain.pem
  data/nodes/foreman01.ra-home.co.uk.yaml
Due: yaml-syntax

fix: use Let's Encrypt chain.pem for SSLCertificateChainFile
  data/nodes/foreman01.ra-home.co.uk.yaml
Due: yaml-syntax

feat: add server_ssl_chain parameter to profile::foreman
  site-modules/profile/manifests/foreman.pp
Due: puppet-lint, puppet-syntax

feat: add Grafana Cloud migration with Alloy and Foreman support
  docs/grafana-cloud-foreman-guide.md
  site-modules/profile/manifests/monitoring.pp
  site-modules/profile/manifests/otel_collector.pp
  site-modules/profile/templates/monitoring/alloy-config.alloy.epp
  site-modules/profile/templates/monitoring/docker-compose.yaml.erb
  site-modules/profile/templates/monitoring/promtail-config.yaml.erb
  site-modules/profile/templates/otel/otel-collector-config.yaml.epp
Due: puppet-lint, puppet-syntax, erb-syntax

fix: replace pick() with ternary pattern for optional Tempo parameters
  site-modules/profile/manifests/otel_collector.pp
Due: puppet-lint, puppet-syntax

fix: replace pick() with ternary pattern for optional Grafana Cloud parameters
  site-modules/profile/manifests/monitoring.pp
Due: puppet-lint, puppet-syntax

fix: use template() instead of epp() for promtail ERB template
  site-modules/profile/manifests/monitoring.pp
Due: puppet-lint, puppet-syntax

fix: use promtail_ prefixed variables to avoid parameter reassignment
  site-modules/profile/manifests/monitoring.pp
  site-modules/profile/templates/monitoring/promtail-config.yaml.erb
Due: puppet-lint, puppet-syntax, erb-syntax

feat: add Grafana Cloud configuration to VPS node (placeholders)
  data/nodes/vps.ra-home.co.uk.yaml
Due: yaml-syntax

fix: support Foreman hostgroup parameter naming convention
  site-modules/profile/manifests/monitoring.pp
Due: puppet-lint, puppet-syntax

fix: accept plain strings for API key parameters from Foreman
  site-modules/profile/manifests/monitoring.pp
Due: puppet-lint, puppet-syntax

fix: accept plain strings from Hiera for API key lookup
  site-modules/profile/manifests/monitoring.pp
Due: puppet-lint, puppet-syntax

Updates
  data/nodes/vps.ra-home.co.uk.yaml
Due: yaml-syntax

fix: replace pick_default() with pick() for Grafana Cloud parameters
  site-modules/profile/manifests/monitoring.pp
Due: puppet-lint, puppet-syntax

fix: rename reserved variable 'facts' to 'node_facts' in Alloy template
  site-modules/profile/manifests/monitoring.pp
  site-modules/profile/templates/monitoring/alloy-config.alloy.epp
Due: puppet-lint, puppet-syntax

fix: external dashboards subscribe requires Grafana to be enabled
  site-modules/profile/manifests/monitoring.pp
Due: puppet-lint, puppet-syntax

fix: use loki.relabel components instead of inline relabel_rules blocks
  site-modules/profile/templates/monitoring/alloy-config.alloy.epp
Due: none

update
  data/nodes/vps.ra-home.co.uk.yaml
Due: yaml-syntax

fix: update Grafana Cloud logs username
  data/nodes/vps.ra-home.co.uk.yaml
Due: yaml-syntax

feat: enable all metric exporters for Grafana Cloud
  data/nodes/vps.ra-home.co.uk.yaml
Due: yaml-syntax

refactor: comprehensive codebase review fixes
  CLAUDE.md
  Puppetfile
  data/nodes/foreman01.ra-home.co.uk.yaml
  scripts/simulate-deployment.sh
  scripts/validate-class-includes.rb
  scripts/validate-deprecated-functions.rb
  site-modules/profile/files/monitoring/provisioning/dashboards/loki-logs-overview.json
  site-modules/profile/manifests/acme_server.pp
  site-modules/profile/manifests/base.pp
  site-modules/profile/manifests/dotfiles.pp
  site-modules/profile/manifests/fail2ban.pp
  site-modules/profile/manifests/firewall.pp
  site-modules/profile/manifests/foreman.pp
  site-modules/profile/manifests/logrotate.pp
  site-modules/profile/manifests/monitoring.pp
  site-modules/profile/manifests/r10k.pp
  site-modules/profile/manifests/wireguard.pp
  site-modules/profile/templates/monitoring/provisioning/dashboards/dashboard-provider.yaml.erb
  site-modules/profile/templates/otel/.env.epp
  site-modules/profile/templates/otel/claude-code-costs.json.epp
  site-modules/profile/templates/otel/claude-code-overview.json.epp
  site-modules/profile/templates/otel/docker-compose.yaml.epp
  site-modules/profile/templates/otel/otel-collector-config.yaml.epp
  site-modules/role/manifests/base.pp
  site-modules/role/manifests/foreman.pp
  site-modules/role/manifests/vpn_gateway.pp
  site-modules/role/manifests/vps.pp
  site-modules/role/manifests/webserver.pp
Due: puppet-lint, puppet-syntax, erb-syntax, yaml-syntax, rubocop, r10k-puppetfile

feat: add UniFi Poller and standalone Grafana Alloy profile
  data/nodes/vps.ra-home.co.uk.yaml
  site-modules/profile/manifests/alloy.pp
  site-modules/profile/manifests/monitoring.pp
  site-modules/profile/spec/classes/alloy_spec.rb
  site-modules/profile/spec/classes/monitoring_spec.rb
  site-modules/profile/templates/alloy/config.alloy.epp
  site-modules/profile/templates/alloy/docker-compose.yaml.epp
  site-modules/profile/templates/monitoring/alloy-config.alloy.epp
  site-modules/profile/templates/monitoring/docker-compose.yaml.erb
Due: puppet-lint, puppet-syntax, erb-syntax, yaml-syntax, rubocop

fix: add foreman01.ra-home.co.uk DNS record
  data/nodes/vps.ra-home.co.uk.yaml
Due: yaml-syntax

feat(pihole_native): add IPv6 blocking for specific domains
  data/nodes/vps.ra-home.co.uk.yaml
  site-modules/profile/manifests/pihole_native.pp
  site-modules/profile/spec/classes/pihole_native_spec.rb
  site-modules/profile/templates/pihole_native/block-ipv6.conf.epp
Due: puppet-lint, puppet-syntax, yaml-syntax, rubocop

feat(unpoller): create standalone UniFi Poller profile
  site-modules/profile/manifests/unpoller.pp
  site-modules/profile/spec/classes/unpoller_spec.rb
  site-modules/profile/templates/unpoller/docker-compose.yaml.epp
Due: puppet-lint, puppet-syntax, rubocop

fix(alloy): accept string booleans from Foreman Smart Class Parameters
  site-modules/profile/manifests/alloy.pp
Due: puppet-lint, puppet-syntax

Path conditions:
  puppet-lint: any of: \.pp$, but not: ^(modules/|vendor/|spec/fixtures/)
  puppet-syntax: any of: \.pp$
  erb-syntax: any of: \.erb$
  yaml-syntax: any of: \.ya?ml$, but not: ^\.pre-commit-config\.yaml$
  rubocop: any of: \.(rb|rake)$, but not: ^(modules/|vendor/|spec/fixtures/)
  r10k-puppetfile: any of: ^Puppetfile$
